* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/JM.png");
}

.form_login {
    width: 400px;
    background-color: rgba(0, 149, 144, 0.8);
    padding: 30px;
    margin: auto;
    margin-top: 250px;
    border-radius: 4px;
    color: #6caca8;
    
}

.form_login h1 {
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.inputs {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid  #2F7B77;
    font-size: 20px;
}

.label {
    display: block;
    text-align: center;
    color: #B00B0B;
    font-weight: bold;
    font-size: 25px;
    padding-top: -10px;
    padding-bottom: 10px;
}

.login_button {
    width: 100%;
    padding: 15px;
    background-color:#69E9E2;
    font-size: 15px;
    border-radius: 4px;
    color: black;
    border: 1px solid #2F7B77;
    font-weight: bold;
}

.login_button:hover {
   cursor: pointer;
   background-color: #40C0B9;
}